body {
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

.welcome {
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    padding-bottom: 60px;
}

p.goal {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
}

.episoide {
    width: 400px;
    border: 15px solid white;
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
    animation: ease-in;
    animation-duration: 2s;
}

.name {
    font-weight: 600;
    font-size: 48px;
}

.description {
    padding-top: 7px;
}

.episode-container {
    display: grid;
    grid-template-columns: 600px 1fr;
}